<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <style>
        .active {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div id="app">
        <!--插值文本-->
        <h2 v-bind:title="title" :title="title">
            {{title}}
        </h2>
        <!--条件渲染-->
        <p v-if="course.length == 0">没有任何课程信息</p>
        <!--列表渲染-->
        <!-- 
            <div v-for="c in courses" :key="c"
                :class="{active: selectedCourse === c}"
                @click="selectedCourse = c">
                {{ c }}
            </div>         
        -->
        <!--style-->
        <div class="course-list" v-else>
            <div v-for="c in courses" :key="c"
                :style="{backgroundColor: (selectedCourse === c ? '#ddd' : 'transparent')}"
                @click="selectedCourse = c">
                {{ c }}
            </div>
        </div>
        <!--用户输入-->
        <p>
            <input type="text" v-model="course" v-on:keydown.enter="addCourse">
            {{course}}
            <button @click="addCourse">新增</button>
        </p>
    </div>
    <script src="../vue.js"></script>
    <script>

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '购物车',
                    course: '',
                    courses: [],
                    selectedCourse: null
                }
            },
            methods: {
                addCourse() {
                    this.courses.push(this.course);
                    this.course = '';
                }
            },
        })

    </script>
</body>
</html>