<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <style>
        .active {
            background-color: #ddd;
        }

        .message-box { 
            padding: 10px 20px; 
            background: #4fc08d; 
            border: 1px solid #42b983; 
        }

        .message-box-close { 
            float: right; 
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- 弹窗组件 -->
        <message :show.sync="isShow">
            <!-- 具名插槽：title -->
            <template v-slot:title="slotProps">
                <strong>{{slotProps.title}}</strong>
            </template>
            <!-- 默认插槽内容 -->
            <template v-slot:default>
                新增课程成功！
            </template>
        </message>

        <!--插值文本-->
        <h2 v-bind:title="title" :title="title">
            {{title}}
        </h2>

        <!-- 批量更新价格 -->
        <p>
            <input type="text" v-model.number="price">
            <button @click="batchUpdate">批量更新价格</button>
        </p>

        <!--列表组件-->
        <course-list :courses="courses"></course-list>

        <!--用户输入-->
        <course-add v-model="course" @add-course="addCourse"></course-add>

        <!--商品总数-->
        <p>
            <!--计算属性-->
            课程总数：{{total}}
            课程总数：{{totalCount}}
        </p>
    </div>
    <script src="../vue.js"></script>
    <script>

        // 总线
        Vue.prototype.$bus = new Vue();

        Vue.component('message', {
            props: ['show'],
            template: `
                <div class="message-box" v-if="show">
                    <!-- 具名插槽 -->
                    <slot name="title" title="来自title组件的标题"></slot>
                    <!--插槽-->
                    <slot></slot>
                    <!-- <span class="message-box-close" @click="$emit('close', false)">X</span> -->
                    <span class="message-box-close" @click="$emit('update:show', false)">X</span>
                </div>
            `
        })

        Vue.component('course-add', {
            props: ['value'],
            template: `
                <div>
                    <p>
                        <input type="text" :value="value" 
                        @input="onInput" v-on:keydown.enter="addCourse">
                        {{value}}
                        <button @click="addCourse">新增</button>
                    </p>
                </div>
            `,
            methods: {
                addCourse() {
                    this.$emit('add-course')
                },
                onInput(e) {
                    this.$emit('input', e.target.value)
                }
            }
        })

        Vue.component('course-list', {
            data () {
                return {
                    selectedCourse: null,
                }
            },
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            template: `
                <div>
                    <!--条件渲染-->
                    <p v-if="courses.length == 0">没有任何课程信息</p>
                    <!--列表渲染-->   
                    <div class="course-list" v-else>
                        <div v-for="c in courses" :key="c.name"
                            :style="{backgroundColor: (selectedCourse === c ? '#ddd' : 'transparent')}"
                            @click="selectedCourse = c">
                            {{ c.name }} -- ￥{{c.price}}
                        </div>
                    </div>
                </div>
            `
        })


        // 模拟异步数据调用
        function getCourses() {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve([{name: '大数据'}, {name: '人工智能'}]);
                }, 2000);
            })
        }


        let app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '购物车',
                    course: '',
                    courses: [],
                    totalCount: 0,
                    isShow: false,
                    price: 0
                }
            },
            async created() {
                // 组件实例已经创建，由于未挂载，dom不存在
                const courses = await getCourses();
                this.courses = courses;
                this.batchUpdate()
            },
            mounted() {

            },
            methods: {
                addCourse() {
                    this.courses.push(this.course);
                    this.course = ''
                    this.isShow = true;
                },
                batchUpdate() {
                    this.courses.forEach(c => {
                        // c.price = this.price;
                        // Vue.set(c, 'price', this.price);
                        this.$set(c, 'price', this.price)
                        // Vue.set   this.$set
                        // Vue.delete  this.$delete
                    });
                }
            },
            computed: {
                total() {
                    // 计算属性具有缓存性：如果值没有发生变化，则页面不会重复渲染
                    return this.courses.length + '门' 
                }
            },
            // 默认情况下watch不会执行
            // watch: {
            //     courses(newValue, oldValue) {
            //         this.totalCount = newValue.length + '门'
            //     }
            // },
            watch: {
                courses: {
                    immediate: true,
                    deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = newValue.length + '门'
                    }
                }
            },
        })

    </script>
</body>
</html>