<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <style>
        .active {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div id="app">
        <!--插值文本-->
        <h2 v-bind:title="title" :title="title">
            {{title}}
        </h2>
        <!--条件渲染-->
        <p v-if="courses.length == 0">没有任何课程信息</p>
        <!--列表渲染-->
        <!-- 
            <div v-for="c in courses" :key="c"
                :class="{active: selectedCourse === c}"
                @click="selectedCourse = c">
                {{ c }}
            </div>         
        -->
        <!--style-->
        <div class="course-list" v-else>
            <div v-for="c in courses" :key="c"
                :style="{backgroundColor: (selectedCourse === c ? '#ddd' : 'transparent')}"
                @click="selectedCourse = c">
                {{ c }}
            </div>
        </div>
        <!--用户输入-->
        <p>
            <input type="text" v-model="course" v-on:keydown.enter="addCourse">
            {{course}}
            <button @click="addCourse">新增</button>
        </p>

        <!--商品总数-->
        <p>
            <!--表达式-->
            <!-- 课程总数：{{courses.length + '门'}} -->
            <!--计算属性-->
            课程总数：{{total}}
            课程总数：{{totalCount}}
        </p>
    </div>
    <script src="../vue.js"></script>
    <script>

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '购物车',
                    course: '',
                    courses: ['大数据', '人工智能'],
                    selectedCourse: null,
                    totalCount: 0
                }
            },
            methods: {
                addCourse() {
                    this.courses.push(this.course);
                    this.course = '';
                }
            },
            computed: {
                total() {
                    // 计算属性具有缓存性：如果值没有发生变化，则页面不会重复渲染
                    return this.courses.length + '门' 
                }
            },
            // 默认情况下watch不会执行
            // watch: {
            //     courses(newValue, oldValue) {
            //         this.totalCount = newValue.length + '门'
            //     }
            // },
            watch: {
                courses: {
                    immediate: true,
                    deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = newValue.length + '门'
                    }
                }
            },
        })

    </script>
</body>
</html>